In [4]:
# cook your dish here
try:
    for i in range(int(input())):
        #n,k =map(int,input().split())
        ts = int(input())
        def TomJerry(ts):
            js = []
            i = 0
            while i < ts-1:
                i+=2
                js.append(i)
            if ts == 1 or ts == 2:
                return 0
            
            if ts%2 == 0:
                return TomJerry(ts//2)
            elif ts%2 != 0:
                return len(js)
        print(TomJerry(ts))
        
except:
    pass

5
2
0
5
2
1
0
8
0
9
4

In [ ]:
for i in range(int(input())):
        #n,k =map(int,input().split())
        ts = int(input())
        def TomJerry(ts):
            js = []
            i = 0
            while i < ts-1:
                i+=2
                js.append(i)
            if ts == 1 or ts == 2:
                return 0

In [ ]:
import math
if math.log(ts,)

In [113]:
n = int(input())
s=[]
i = 1

while i <= n**2:
    b = str(i)
    s.append(b)
    i+=1

4

In [114]:
s

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16']

In [117]:
d=' '
if n%2==0:
    for i in range(0,n,2):
        print(d.join(s[i*n:n*(i+1)]))
        print(d.join(reversed(s[n*(i+1):n*(i+2)])))
        #print('--')
else:
    for i in range(0,n-1,2):
        print(d.join(s[i*n:n*(i+1)]))
        print(d.join(s[n*(i+1):n*(i+2)]))
        print("--")

1 2 3 4
8 7 6 5
9 10 11 12
16 15 14 13

In [116]:
if n%2==0:
    for i in range(n,n,n):
        print(d.join(s[:i]))
        print(d.join(s[i:2*i]))

In [92]:
s

['1', '2', '3', '4']

In [97]:
k = s.reversed()

AttributeError: 'list' object has no attribute 'reversed'

In [95]:
k

In [146]:
s

[12,
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16']

In [145]:
s.insert(0,12)

In [121]:
'100' in s

False

In [122]:
for j in range(5):
    j+=1

In [124]:
j

4

In [125]:
j

4

In [127]:
j is not int

True

In [128]:
s

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16']

In [130]:
s.count('1')

1

In [131]:
78363//10

7836

In [132]:
7836//10

783

In [133]:
78//10

7

In [135]:
arr = [1,0,2,3,0,4,5,0]

In [136]:
arr1 = []
for i in range(len(arr)):
    if arr[i]!=0:
        arr1.append(arr[i])
    else:
        arr1.append(0)
        arr1.append(0)
arr = arr1

In [138]:
nums1 = [1,2,3,0,0,0]
nums2 = [2,5,6]
n=3
m=3

In [153]:
for i in nums2:
    for j in range(n+m):
        if i <= nums1[j]:
            print(i,nums1[j])
            del nums1[len(nums2)-1]
            nums1.insert(j,i)
            break

2 2

In [159]:
arr = [17,18,5,4,6,1]

In [157]:
nums1.remove(0)

In [160]:
for i in range(len(arr)-1):
    arr[i] = max(arr[i+1:len(arr)])

In [162]:
arr

[18, 6, 6, 6, 1, 1]

In [ ]:
def sol(arr):
    l = len(arr)
    right_pointer = l-1
    arr[right_pointer] = -1
    for i in range(l-2,-1,-1):
        temp = arr[i]
        if

In [163]:
del arr[0]

In [164]:
arr[0]

6

In [168]:
arr.sort()

In [166]:
arr[5:9] = 0

TypeError: can only assign an iterable

In [172]:
arr = set(arr)

In [173]:
arr

{1, 6}

In [174]:
list(arr)

[1, 6]

In [192]:
nums1= nums

In [205]:
a1 = [nums[0]]
a2 = [nums[-1]]
for i in range(1,len(nums)):
    a1.append(a1[i-1]+nums[i])
    a2.append(a2[i-1]+nums[-i-1])

In [193]:
nums = [1,7,3,6,5,6]

In [200]:
a1

[1, 8, 11, 17, 22, 28]

In [207]:
a2.reverse()

In [214]:
str(a2)

'[28, 27, 20, 17, 11, 6]'

In [209]:
a = str(123)

In [212]:
a.split()

ValueError: empty separator

In [216]:
k = ["flower","flow","flight"]

In [2]:
from collections import defaultdict

In [3]:
dicti = defaultdict(int)

In [5]:
dicti[5]+=1

In [6]:
dicti

defaultdict(int, {5: 1})